
<div class="container">
  <!-- <h4>Add Data</h4> -->
  <!-- <form > -->
<div class="mb-3">
  <label for="" class="form-label">Id </label>
  <input type="number" class="form-control" [(ngModel)]="x.id">
</div>
<div class="mb-3">
  <label for="" class="form-label">Name</label>
  <input type="text" class="form-control"  [(ngModel)]="x.name">
</div>
<div class="mb-3">
  <label for="" class="form-label">Course</label>
  <input type="text" class="form-control"  [(ngModel)]="x.course">
</div>
<div class="mb-3">
  <label for="" class="form-label">Fees</label>
  <input type="number" class="form-control"  [(ngModel)]="x.fees">
</div>
<div class="mb-3">
  <label for="" class="form-label">phone</label>
  <input type="number" class="form-control"  [(ngModel)]="x.phone">
</div>
<button class="btn btn-primary" (click)="addVal()">Add</button> &nbsp;
<button class="btn btn-secondary" (click)="clearForm()">Clear</button>&nbsp;
<button class="btn btn-danger" (click)="editForm()">Edit</button>&nbsp;
<!-- </form> -->
<!-- <h4>Table Of Data</h4> -->
<table class="table table-striped my-3">
  <tr>
    <th>ID </th>
    <th>Name </th>
    <th>Course </th>
    <th>Fees </th>
    <th>Phone </th>
  </tr>
  <tr *ngFor="let p of person">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.course}}</td>
    <td>{{p.fees}}</td>
    <td>{{p.phone}}</td>
    <td><a type="button" class="btn btn-info" (click)="getVal(p.id)"> Info </a></td>
    <td><a type="button" class="btn btn-danger" (click)="deleteRow(p.id)">Delete </a></td>
  </tr>
</table>
</div>
